.plan
  &__container
    display: flex
    flex-direction: column
    width: 30%
    align-items: center
    border: 1px solid #213194
    margin: 32px 0

  &__image
    margin: 32px 0
    display: flex
    width: 120px
    align-self: center

  &__title
    font-size: 32px
    color: white
    font-weight: 400
    margin: 0 0 32px 0
    width: 96%
    display: flex
    justify-content: center
    align-items: center
    height: 70px
    border-radius: 32px

  &__description
    font-size: 20px
    font-weight: 200
    display: flex
    width: 80%
    margin: 0 0 32px 0
  &__price
    display: flex
    width: 80%
    margin: 0 0 32px 0
    font-size: 16px
  &__button
    background-color: #213194
    color: white
    border-radius: 20px
    height: 40px
    width: 80%
    cursor: pointer
    margin: 0 0 32px 0
    &:hover
      border: 1px solid #213194
      background-color: white
      color: #213194
.gold
  color: black
  background: linear-gradient(to right, #f7db50, #c07d21)

.silver
  color: black
  background: linear-gradient(to right, #d9d9d9, #a6a6a6)

.bronze
  background: linear-gradient(to right, #cd7f32, #804a00)
