.about-us-section
  &__image
    width: 100%
    background-repeat: no-repeat
    background-position: center
    height: 855px
    position: relative
  &__container
    display: flex
    position: absolute
    height: 855px
    width: 100%
    background-color:  #213194
    opacity: 0.8
    justify-content: center
    align-items: center
    flex-direction: column
  &__title
    color: white
    margin-bottom: 32px
    font-size: 36px
    font-weight: 400
  &__description
    color: white
    width: 72%
    margin-bottom: 32px
    font-size: 24px
    font-weight: 100
    text-align: center
  &__button
    background-color: transparent
    color: white
    border: 1px solid white
    border-radius: 20px
    height: 32px
    width: 20%
    cursor: pointer
    &:hover
      background-color: white
      color: #213194
@media (max-width: 576px)
  .about-us-section
    &__container
      height: auto
      display: flex
      position: unset
    &__image
      display: flex
      height: auto
      position: unset
    &__button
      width: 96%
      margin-bottom: 16px
    &__title
      text-align: center
    &__description
      font-size: 16px