.footer
  &__container
    width: 100%
    display: flex
    flex-direction: row
    background-color: white

.footer-contact
  &__container
    margin-top: 36px
    display: flex
    width: calc(100% / 3)
    align-items: center
    justify-content: center
    flex-direction: column
  &__title
    text-align: center
    width: 100%
    font-weight: 700
    color: #213194
  &__info
    margin: 16px 0
    text-align: start
    width: 80%
    font-weight: 200
    color: #213194
.footer-menu
  &__container
    margin-top: 36px
    display: flex
    width: calc(100% / 3)
    align-items: center
    justify-content: center
    flex-direction: column
  &__title
    text-align: center
    width: 100%
    font-weight: 700
    color: #213194
  &__info
    margin: 16px 0
    text-align: start
    width: 60%
    font-weight: 200
    color: #213194
    cursor: pointer
.footer-etc
  &__container
    margin-top: 36px
    display: flex
    width: calc(100% / 3)
    align-items: center
    flex-direction: column
    font-weight: 100
  &__title
    text-align: center
    width: 100%
    font-weight: 700
    color: #213194
  &__social-media
    display: flex
    flex-direction: row
    width: 80%
    margin: 32px 0
.footer
  &__social-media
    width: 48px
    height: 48px
    margin-right: 16px
    border-radius: 12px
.social-media
  &__container
    cursor: pointer
