.contact-us
  &__container
    display: flex
    flex-direction: column
    background-color: #213194
    width: 100%
    align-items: center
    justify-content: center
    padding-bottom: 32px
  &__title
    color: white
    font-size: 36px
    margin-top: 32px
    margin-bottom: 32px