.about-us
  &__container
    display: flex
    width: 100%
    background-color: white
    flex-direction: column
    justify-content: center
    align-items: center
  &__title
    font-size: 60px
    letter-spacing: 0.03em
    font-weight: 300
    margin: 32px 0
  &__titles
    font-size: 40px
    font-weight: 250
    width: 100%
    display: flex
    justify-content: center
    margin-top: 32px
  &__description
    &__container
      display: flex
      justify-content: center
      align-items: center
.value-proposition
  &__container
    margin: 0 0 32px 0
    font-weight: 200
    font-size: 20px
    text-align: justify
    display: flex
    width: 88%
    line-height: 2
.bg-orange
  color: white
  background-color: #FF6600
  padding-top: 32px
.bg-lightblue
  color: white
  background-color: #2a41b0
  margin: 0
  padding-top: 32px
