.member-card
  &__container
    display: flex
    width: 40%
    flex-direction: column
    margin: 32px 0
    border: 1px solid black
    justify-content: center
    align-items: center
  &__picture
    &--container
      width: 100%
      display: flex
      justify-content: center
  &__image
    width: 100%
    &--container
      display: flex
      justify-content: center
      align-items: center
  &__title
    width: 90%
    margin: 16px 0
    font-size: 32px
    letter-spacing: 0.03em
    font-weight: 500
  &__subtitle
    width: 90%
    font-size: 24px
    font-weight: 400
    letter-spacing: 0.03em
  &__description
    width: 90%
    font-size: 16px
    font-weight: 200
    letter-spacing: 0.03em
    margin: 32px 0